services:
  app:
    image: kalpratama/devops-superinventory:v1.0
    container_name: uas_app_container
    restart: unless-stopped
    ports:
      - "8081:80"

    environment:
      DB_CONNECTION: ${DB_CONNECTION}
      DB_HOST: ${DB_HOST}
      DB_PORT: ${DB_PORT}
      DB_DATABASE: ${DB_DATABASE}
      DB_USERNAME: ${DB_USERNAME}
      DB_PASSWORD: ${DB_PASSWORD}
      APP_ENV: ${APP_ENV}
      APP_DEBUG: ${APP_DEBUG}
      APP_URL: ${APP_URL}

    command: >
      sh -c "php artisan migrate --force &&
             php artisan optimize:clear &&
             apache2-foreground"

    depends_on:
      db:
        condition: service_healthy
    networks:
      - uas-network

  # 2. SERVICE DATABASE (MySQL)
  db:
    image: mysql:8.0
    container_name: uas_db_container
    restart: always
    environment:
      MYSQL_DATABASE: ${DB_DATABASE}
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 5s
      timeout: 5s
      retries: 5
    volumes:
      - db_data:/var/lib/mysql
    networks:
      - uas-network

  prometheus:
    image: prom/prometheus:v2.46.0
    container_name: prometheus
    ports:
      - "9091:9090"
    volumes:
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
    command:
      - "--config.file=/etc/prometheus/prometheus.yml"
    networks:
      - uas-network

networks:
  uas-network:
    driver: bridge

volumes:
  db_data:
