# Section 1: Persistent Volume Claim (PVC)
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: mysql-pv-claim
  labels:
    app: mysql-app
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
---
# Section 2: Running MySQL Container (Deployment)
apiVersion: apps/v1
kind: Deployment
metadata:
  name: mysql-deployment
  labels:
    app: mysql-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mysql-app
  template:
    metadata:
      labels:
        app: mysql-app
    spec:
      containers:
        - name: mysql
          image: mysql:8.0 # same version as Docker Compose
          ports:
            - containerPort: 3306
          env:
            - name: MYSQL_ROOT_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: uas-db-secret # Secret filename
                  key: db-root-password # Key
            - name: MYSQL_DATABASE
              valueFrom:
                secretKeyRef:
                  name: uas-db-secret
                  key: db-name # Key

          volumeMounts:
            - name: mysql-persistent-storage
              mountPath: /var/lib/mysql # mysql inside container
      volumes:
        - name: mysql-persistent-storage
          persistentVolumeClaim:
            claimName: mysql-pv-claim # PVC
